/* Styles go here */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 40px;
	padding: 10px 0;
	background-color: #333;
}

footer a, footer a:hover {
	text-decoration: none;
	color: #fff;
}